fastapi
uvicorn
sentence-transformers
faiss-cpu
scikit-learn
numpy
pydantic
pytest
requests
httpx
datasets
google-generativeai

ruff
mypy
slowapi
structlog

sqlalchemy
asyncpg
greenlet
psycopg2-binary

python-dotenv

aiosqlite
